#tk_firstRun {
	float: left;
	width: 80%;
}

#tk_firstRun STRONG {
	color: red;
}

#tk_firstRunButton {
	float: left;
	margin-left: 30px;
}

#tk_missingElHolder {
	background-color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 3;
}

#tk_slider {
	height: 0px;
	overflow: hidden;
}

#tk_showHide {
	display: block;
	text-align: center;
	background-color: rgb(72, 44, 126);
	color: white;
	padding: 4px;
}

#tk_showHide:hover {
	text-decoration: none;
	background-color: rgb(108, 81, 160);
}

#tk_slider #tk_tagHolder {
	float: left;
}

#tk_slider #tk_searchBar {
	float: right;
	width: 240px;
	background-color: rgb(24, 24, 24);
	height: 100%;
}

#tk_slider #tk_searchResults {
	float: right;
	background-color: rgb(24, 24, 24);
	min-width: 240px;
	height: 100%;
}

#tk_slider #tk_tagSearch {
	border: 1px solid rgb(187, 187, 187);
	margin-top: 3px;
}

#tk_aboutLink {
    float: left;
	margin-bottom: 10px;
    padding-left: 8px;
    font-size: 11px;
    clear: left;	
}

#tk_aboutClickZone {
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2); 
}

#tk_aboutModal {
	width: 500px;
	z-index: 4;
	position: absolute;
	font-size: 14px;
}

#tk_aboutModal DIV {
	background-color: white;
	border: 10px solid rgb(100, 65, 165);
	padding: 20px;
}

#tk_aboutModal STRONG {
	margin-bottom: 10px;
	display: block;
}

#tk_aboutModal SPAN {
	margin-bottom: 20px;
	display: block;
}



/*
//                    ==========================
//
//                    NEW TAG INPUT
//
//                    ==========================
*/

#tk_actionsHolder {
	float: left;
}

#tk_tagAddHolder {
	float: left;
	width: 180px;
	clear: both;
	margin-top: 10px;
	margin-left: 0px;
}

#tk_tagInput {
	float: left;
	width: 175px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	line-height: 25px;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 12px;
	color: rgb(192, 192, 192);
	outline: medium none;
	background-color: rgba(0, 0, 0, 0.05);
	padding-left: 7px;
}

#tk_tagSuggestions {
	visibility: hidden;
	float: left;
	position: relative;
	margin-top: 3px;
	z-index: 3;
	border: 1px solid rgba(0, 0, 0, 0.3);	
	line-height: 25px;
	font-size: 12px;
	color:	#000;
	background-color: #FFF;
	padding: 0px;
}

#tk_suggestionTitle {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(77,77,77);
	font-weight: bold;	
	padding: 0px 7px;
	float: left;
	clear: left;
	width: 159px;
	text-align: center;
}

.tk_suggestionRow {
	color: rgb(130,130,130);
	padding: 0px 7px;
	display: block;
	float: left;
	clear: left;
	text-decoration: none;
	width: 159px;
}

.tk_suggestionRow:hover {
	background-color: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

#tk_tagSuggestions:after {
	/* sets height to height of children */
	content: '';
	display: block;
	clear: both;
	width: 0px;
}

#tk_tagSizer {
    float: left;
	margin-top: 5px;
	margin-bottom: 10px;
    padding-left: 8px;
    font-size: 11px;
}









/*
//                    ==========================
//
//                    EXISTING TAGS
//
//                    ==========================
*/

#tk_tagHolder {
	float: left;
	font-size: 14px;
	margin-left: 10px;
	min-width: 200px;
	overflow: hidden;
}

.tk_tag {
	float: left;
	border-radius: 3px;
	border: 1px solid rgb(72, 44, 126);
	background-color: rgba(100, 65, 165, 0.4);
	box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.32);	
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 11px;
	line-height: 23px;
	white-space: nowrap;
}

.tk_tag:after {
	/* sets height to height of children */
	content: '';
	display: block;
	clear: both;
	width: 0px;
}

.tk_tagName {
	display: inline-block;
	padding-left: 6px; 
	padding-right: 6px;
	color: black;
	white-space: nowrap;
}

.tk_tagTotal {
	display: inline-block;
	padding-left: 4px; 
	padding-right: 4px; 
	border-left: 1px solid rgba(100, 65, 165, 0.6);
	border-right: 1px solid rgba(100, 65, 165, 0.6);
	color: rgb(100, 65, 165);
}

.tk_tag A {
	display: inline-block;
	padding-left: 3px;
	padding-right: 5px;
}

#tk_noTagsMessage {
	float: left;
	margin-top: 5px;
	color: rgb(196, 192, 192);
}


/*
//                    TAG BUTTONS
*/

.tk_tagButtonUp {
	width: 10px;
}

.tk_tagButtonUp:hover {
	text-decoration: none;
}

.tk_tagButtonDown {
	width: 10px;
}

.tk_tagButtonDown:hover {
	text-decoration: none;
}

.tk_tagButtonFlag {
	width: 10px;
	color: rgba(100, 65, 165, 0.5);
}

.tk_tagButtonFlag:hover {
	text-decoration: none;
	color: rgb(100, 65, 165);  	
}

.tk_flagConfirm {
	color: rgb(100, 65, 165);	
}

.tk_flagConfirm A {
	font-weight: bold;
	text-decoration: underline;
}

.tk_flagConfirm A:hover {
	font-weight: bold;
	text-decoration: none;
}








/*
//                    ==========================
//
//                    SEARCH
//
//                    ==========================
*/

#tk_searchBar INPUT {
	margin-left: 20px;
	width: 200px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	padding-left: 30px;
	line-height: 30px;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(126, 126, 126);
	outline: medium none;
	background: url('http://twitch.tv/images/xarth/left_col_search_icon.svg') no-repeat scroll 8px center rgba(255, 255, 255, 0.05);
}

#tk_searchResults {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.32);
}

#tk_searchResults:after {
	/* sets height to height of children */
	content: '';
	display: block;
	clear: both;
	width: 0px;
}

#tk_srTitle {
	background-color: black;
	text-align: center;
	color: rgb(124, 124, 124);
	padding: 4px 4px 4px 17px; 
	border-top: 1px solid rgb(68, 68, 68);
	font-size: 14px;
}

#tk_srTitle A {
	display: block;
	float: right;
	padding: 3px 5px;
	font-size: 10px;
	text-decoration: none;
	background-color: rgb(100, 65, 165);
	color: white;
}

#tk_srTitle A:hover {
	color: rgb(100, 65, 165);
	background-color: white;
}

.tk_srRow {
	display: block;
	clear: left;
	border-top: 1px solid rgb(68, 68, 68);
	background-color: rgb(100, 65, 165);
}

.tk_srRow:hover {
	text-decoration: none;
	background-color: rgb(145, 123, 187);
}

.tk_srStream {
	padding: 6px 0px 6px 6px;
	color: rgb(0,0,0);
}

.tk_srTags {
	background-color: rgba(0, 0, 0, 0.28);
	padding-bottom: 6px;
}

.tk_srTags:after {
	/* sets height to height of children */
	content: '';
	display: block;
	clear: both;
	width: 0px;
}

.tk_srTag {
	float: left;
	border-radius: 3px;
	box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.5);	
	background-color: rgb(141, 127, 168);
	margin-left: 6px;
	margin-top: 6px;
	padding: 0px 6px;
	color: black;
	font-size: 11px;
	line-height: 20px;
	white-space: nowrap;
}

.tk_srTagName {
	float: left;
	padding-right: 6px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.tk_srTotal {
	float: left;
	padding-left: 6px;
}







